.container {
  width: 100%;

}

.section1 {
  background-color: #f2f2f2;
  padding: 2%;
  margin: 0% 0% 0% 0%;
}

.personal-info {
  display: flex;
  justify-content: space-between;
  width: 85%;
  margin: auto;
}

.info-P p {
  width: 50%;
  font-size: 0.9rem;
}

.personal-info h2 {
  font-size: 3rem;
  font-weight: bold;
  color: rgb(177, 80, 80);
  margin: 0;
}

.personal-info h3 {
  font-size: 1.9rem;
  font-weight: 400;
  color: rgb(134, 54, 54);
  margin: 0 0 2% 0;
}

.img-mail .img {
  margin: 0 0 7% 0;
}

/* Section 2 */

.section2 {
  padding: 2%;
  margin: 0% 0% 0% 0%;
  background-color: #f2f3f5;
}

.project {
  width: 85%;
}

.section2 h2 {
  text-align: center;
  font-size: 2.5rem;
  font-weight: 500;
  color: rgb(82, 82, 82);
  margin: 1% 0 2% 0;

}

.card {
  justify-content: space-around;
  width: 100%;
  margin: 2% 0% 0% 25%;
}

/* section 3  */

.section3 {
  padding: 2%;
  margin: 0% 0% 0% 0%;
  background-color: #f2f3f5;
}

.section3 h2 {
  text-align: center;
  font-size: 2.5rem;
  font-weight: 500;
  color: rgb(82, 82, 82);
  margin: 1% 0 2% 0;
}

.experience {
  width: 85%;
  margin: auto;
}

.experience h3 {
  font-size: 1.5rem;
  font-weight: 500;
  color: rgb(82, 82, 82);
  margin: 1% 0 2% 0;
}