.container2 {
    width: 100%;
    background-color: white;

}

.section21 {
    background-color: #ffffff;
    padding: 2%;
    margin: 0% 0% 0% 0%;

}

.personal-info2 {
    display: flex;
    justify-content: space-between;
    width: 85%;
    margin: 10px 10px 10px 70px;
}

.info-P2 {
    margin: 50px 0px 0px 80px;
}

.info-P2 p {
    width: 50%;
    font-size: 1.1rem;
}

.info-P2 h2 {
    font-size: 3rem;
    font-weight: bold;
    color: rgb(177, 80, 80);
    margin: 0;
}

.info-P2 h1 {
    font-size: 1.2rem;
    font-weight: 400;
    color: rgb(94, 82, 82);
    margin: 0;
}

.info-P2 h3 {
    font-size: 1.9rem;
    font-weight: 400;
    color: rgb(134, 54, 54);
    margin: 0 0 2% 0;
}

/* Section 2 */

.section22 {

    margin: -6% 0% 2% 0%;
    background-color: #ffffff;
}

.project2 {
    width: 85%;
}

.section22 h2 {
    text-align: center;
    font-size: 2.5rem;
    font-weight: 500;
    color: rgb(82, 82, 82);
    margin-bottom: 20px;

}

.card2 {
    justify-content: space-around;
    width: 100%;
    margin: 2% 0% 0% 25%;
}

/* section 3  */

.section23 {
    padding: 2%;
    margin: 0% 0% 0% 0%;
    background-color: #ffffff;
}

.section23 h2 {
    text-align: center;
    font-size: 2.5rem;
    font-weight: 500;
    color: rgb(82, 82, 82);
    margin: 1% 0 2% 0;
}

.experience2 {
    font-size: 1rem;
    color: rgb(82, 82, 82);
    margin: 1% 0% 2% 8%;

}