.container1 {
  width: 100%;

}

.section11 {

  padding: 2%;
  height: 95vh;
  background-image: url(../../../public/background1.jpg);
  background-size: cover;
  margin: 0% 0% 0% 0%;
}

.personal-info1 {
  margin-left: 55%;
  width: 85%;
}

.info-P1 h2 {
  width: 50%;

  font-size: 1.1rem;
  font-weight: 400;
  color: rgb(255, 255, 255);
}

.personal-info1 h2 {
  font-size: 3rem;
  font-weight: bold;
  color: whitesmoke;
  margin: 0;
}

.personal-info1 h3 {
  font-size: 1.9rem;
  font-weight: 400;
  color: rgb(254, 254, 254);
  margin: 0 0 2% 0;
}

.img-mail1 {
  width: 50%;
  ;
}

/* Section 2 */

.section12 {
  background-color: #f2f3f5;
}

.project1 {
  margin-right: 30%;
}

.section12 h2 {
  text-align: center;
  font-size: 2.5rem;
  font-weight: 500;
  color: rgb(82, 82, 82);
  margin: 1% 0 2% 0;

}

.card1 {
  margin: 1%;
  width: 30%;

}




/* section 3  */

.section13 {
  padding: 2%;
  margin: 0% 0% 0% 0%;
  background-color: #f2f3f5;
}

.section13 h2 {
  text-align: center;
  font-size: 2.5rem;
  font-weight: 500;
  color: rgb(82, 82, 82);
  margin: 1% 0 2% 0;
}

.experience1 {

  margin: auto;
}

.experience1 h3 {
  font-size: 1.5rem;
  font-weight: 500;
  color: rgb(82, 82, 82);
  margin: 1% 0 2% 0;
}